@use '../../../_shared';
@use '../../../mixins' as *;

@include visualizer-styles(var(--light-orange));



// Responsive styles for visualizer
@media (max-width: 1024px) {
  .sorting-visualizer .visualizer-content {
    flex-direction: column;
    height: 95vh;

    .left-section, .right-section {
      padding: 1.5rem;
    }

    .code-box {
      height: 300px;
    }
  }
}

@media (max-width: 768px) {
  .sorting-visualizer .visualizer-content {
    width: 95%;

    .left-section, .right-section {
      padding: 1rem;
    }

    .controls {
      flex-direction: column;
    }
  }
} 