// Import all modules using @use
@use "./variables";
@use "./base";
@use "./mixins";
@use "./shared";
@use "./CommonStyle/backgroundAnimation" as backgroundAnimation;
@use "./CommonStyle/navbar" as navbar;
@use "./CommonStyle/footer" as footer;
@use "./ElementStyle/home";
@use "./ElementStyle/about";
@use "./ElementStyle/feature";
@use "./ElementStyle/contact";
@use "./ElementStyle/topic";
@use './ElementStyle/TopicStyle/ArrayStyle/array';
@use './ElementStyle/TopicStyle/ArrayStyle/arrayVisualizer';
@use './ElementStyle/TopicStyle/GraphStyle/graph';
@use './ElementStyle/TopicStyle/GraphStyle/graphVisualizer';
@use './ElementStyle/TopicStyle/SortStyle/sort';
@use './ElementStyle/TopicStyle/SortStyle/sortingVisualizer';
@use './ElementStyle/TopicStyle/TreeStyle/tree';
@use './ElementStyle/TopicStyle/TreeStyle/treeVisualizer';
@use './ElementStyle/TopicStyle/LinkedListStyle/linkedList';
@use './ElementStyle/TopicStyle/LinkedListStyle/linkedListVisualizer';

// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Quicksand:wght@300..700&display=swap");

// Typography styles
html {
  body {
    h1 {
      @include mixins.heading-1;
    }

    h2 {
      @include mixins.heading-2;
    }

    h4 {
      @include mixins.heading-4;
    }

    h5 {
      @include mixins.heading-5;
    }

    p {
      @include mixins.paragraph;
    }
  }
}

// Main layout styles
.Main {
  section {
    scroll-margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;

    .container {
      margin: 0 auto;
      width: 100%;
      @extend %glass-background;
    }
  }
}

// Button styles
.btn {
  @extend %button;
}

